<!DOCTYPE html>
<html>
  <head>
    <title>TodoManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
  <% if @current_user%>
  <p class="userheader">
  Welcome <%= @current_user.first_name%>
  <%= link_to "Sign-Out", destroy_session_path, method: "delete"%>
  </p>
  <% end %>
  </div>
  <div>

  <% if flash[:error] %>
  <p class="Flash">
  <%= flash[:error] %>
  </p>
  <%end%>
  </div>
    <%= yield %>
  </body>
</html>
